snippet _this "Setup a _this" b
var _this = this;
endsnippet

snippet pd "Standard preventDefault call" b
if (e) e.preventDefault();
endsnippet

snippet cl "console.log" b
console.log(${1:var});$0
endsnippet

snippet fn "anonymous function"
function(${1:argument}) {
	${0:// body...}
}
endsnippet
