extends javascript

snippet isun "_.isUndefined (js)"
_.isUndefined(${1:var})
endsnippet

snippet sc "shallow clone (js)"
_(${VISUAL}).clone()$0
endsnippet

snippet dc "deep clone (js)"
_.extend({}, ${VISUAL})$0
endsnippet
